body {
  font-size: 16px;
  font-family: 'Futura Com','sans-serif';
  font-weight: bold condensed;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Futura','sans-serif';
  /* font-weight: bold; */
}
h5 {
  font-size: 1.2rem;
  font-family: 'Futura','sans-serif';
}
.mobile {
  display: none;
}

a {
  color: #db0a40;
  text-decoration: none;
}

a:hover, a:visited {
  color: #db0a40;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .mobile {
    display: grid;
  }
  .desktop {
    display: none;
  }
}
