body {
  font-size: 16px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 1rem; 
}
.jumbotron {
  background-image: url(https://image.redbull.com/rbcom/052/2018-06-10/5f8bfa0e-6e71-4e14-b774-169f9236ac45/0012/0/158/0/657/1999/1950/1/leogang-dh-world-cup-2018-rachel-atherton-finals.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-shadow: 1px 1px 2px black;
}


/* @media only screen and (max-width:480px) {
  .row {
    width: 90%;
  } */
  /* #rules {
    font-size: 1rem;
    padding: 1rem;
  } */


}
